.eloPonto{
    background-color:rgba(145, 255, 150, 0.678) ;
    float:left;      
    color: black;    
    margin-bottom: 10px;  
    font-weight: bold;
    font-family: "Arial","Times New Roman";
    font-size: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;     
    width: 115px;   
    height: 68px;
    padding-top:5px;
    padding-left:10px;
}
.eloPonto:hover {
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2);
}