.eloPonto{
    background-color:lightgreen;
    float:left;      
    color: black;
    margin-bottom: 10px;
    font-style:bold;
    font-weight:bold;
    font-family: "Segoe UI","Arial","Times New Roman";
    font-size: 17px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;     
    width: 130px;   
    height: 75px;
    padding-top:10px;
    padding-left:10px;
}
.eloPonto:hover {
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2);
}